{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Commerceinsights plugin for Craft CMS 3.x
 *
 * Commerceinsights customers_summary.twig
 *
 * @author    Disposition Tools
 * @copyright Copyright (c) 2021 Disposition Tools
 * @link      http://www.disposition.tools/
 * @package   Commerceinsights
 * @since     1.0.0
 */
#}
{% requirePermission 'commerceinsightsCustomers' %}
{% set selectedSubnavItem = 'customers' %}
{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}


{# The title of this CP section #}
{% set title = "Customer Insights" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('commerceinsights') %}



{% set content %}

    <p>
      <a href="{{ url('commerceinsights') }}">&lt; back to Dashboard  </a>
    </p>
    <h2>Customer summaries</h2>

{% if currentUser.can('commerceinsightsCustomersDownload') %}
    <form method="post" >
        {{ redirectInput(url("commerceinsights/customers/summary") ) }}
        {{ csrfInput() }}
        <input type="hidden" name="action" value="commerceinsights/reports/download-csv" />
        <input type="hidden" name="reportType" value="customer-summary" />
        <input type="submit" class="btn submit" value="Download CSV">
    </form>
{% endif %}
    <p>&nbsp;</p>

    <div class="elements">
    <div class="tableview tablepane">
      <table class="data fullwidth ">
      <thead>
        <tr>
          <th>Email</th>
          <th>User</th>
          <th>Number of orders</th>
          <th>Total amount</th>
          <th>Avg order</th>
          <th>Lowest order</th>
          <th>Biggest order</th>
          <th>First Order</th>
          <th>Last Order</th>
          <th>Days between first and last order</th>
          <th>Days since last order</th>
        </tr>
      </thead>
      <tbody>
      {% for customer in customers %}
          <tr>
              <td>{{ customer.orderEmail }}</td>
              <td><a href="{{ url('users/'~customer.orderUserId) }}">{{ customer.userFirstName }} {{ customer.userLastName }}</a></td>
              <td>{{ customer.numberOfOrders }}</td>
              <td>{{ customer.ordersTotalPrice|number_format }}</td>
              <td>{{ customer.avgOrderTotalPrice|number_format }}</td>
              <td>{{ customer.minOrderTotalPrice|number_format }}</td>
              <td>{{ customer.maxOrderTotalPrice|number_format }}</td>
              <td>{{ customer.firstOrderDate|date("Y-m-d") }}</td>
              <td>{{ customer.lastOrderDate|date("Y-m-d") }}</td>
              <td>{{ customer.daysBetweenFirstandLastOrder }}</td>
              <td>{{ customer.daysSinceLastOrder }}</td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
    </div>



    <p class="textline"></p>
{% endset %}
