{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Commerceinsights plugin for Craft CMS 3.x
 *
 * Commerceinsights product_type.twig
 *
 * @author    Disposition Tools
 * @copyright Copyright (c) 2021 Disposition Tools
 * @link      http://www.disposition.tools/
 * @package   Commerceinsights
 * @since     1.0.0
 */
#}
{% requirePermission 'commerceinsightsProducts' %}
{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}


{# The title of this CP section #}
{% set title = "Product Insights" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('commerceinsights') %}



{% set content %}

    <p>
      <a href="{{ url('commerceinsights/products') }}">&lt; back to product types </a>
    </p>
    <h2>{{ productType.name }}</h2>


    <table class="data fullwidth">
    <thead>
      <tr>
        <th>Product name</th>
        <th></th>
        <th></th>
        <th>Variants</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
      {% for product in products %}

          <tr>
              <td>{{ product.title }}</td>
              <td><a href="{{ product.cpEditUrl }}">Edit product</a></td>
              <td><a href="{{ product.url }}">View product</a></td>
              <td>{{ product.variants|length }}</td>
              <th></th>
              <td><a href="{{ url('commerceinsights/products/'~product.id) }}">View purchasers</a></td>
          </tr>



      {% endfor %}
    </table>



    <p class="textline"></p>
{% endset %}
