{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Commerceinsights plugin for Craft CMS 3.x
 *
 * Commerceinsights products.twig
 *
 * @author    Disposition Tools
 * @copyright Copyright (c) 2021 Disposition Tools
 * @link      http://www.disposition.tools/
 * @package   Commerceinsights
 * @since     1.0.0
 */
#}
{% requirePermission 'commerceinsightsProducts' %}
{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/dispositiontools/productinsights/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "Commerce Insights" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('productinsights') %}




{# The content of the CP Section#}
{% set content %}

<p>
  <a href="{{ url('commerceinsights') }}">&lt; back to Dashboard  </a>
</p>

<h2>Find which products were bought when and who by</h2>
<form method="POST" >
  {{ redirectInput('commerceinsights/products/purchases?startDate={startDate}&endDate={endDate}') }}
  {{ actionInput('commerceinsights/cp/goto-page') }}
  {{ csrfInput() }}
  <div class="input ltr" style="display:inline-block;padding-right:10px;">
  {% include "commerceinsights/_components/date_field" with {
      label: 'Start',
      instructions: '',
      id: 'startDate',
      name: 'startDate',
      value: startDate|date("Y-m-d")
  } %}
  </div>
  <div class="input ltr" style="display:inline-block;padding-right:10px;">
  {% include "commerceinsights/_components/date_field" with {
      label: 'End',
      instructions: '',
      id: 'endDate',
      name: 'endDate',
      value: endDate|date("Y-m-d")
  } %}
  </div>
  <input type="submit" class="btn submit" value="View purchases">
</form>




<hr/>



<h2>Find best selling products</h2>
<form method="POST" >
  {{ redirectInput('commerceinsights/products/best-selling?startDate={startDate}&endDate={endDate}') }}
  {{ actionInput('commerceinsights/cp/goto-page') }}
  {{ csrfInput() }}
  <div class="input ltr" style="display:inline-block;padding-right:10px;">
  {% include "commerceinsights/_components/date_field" with {
      label: 'Start',
      instructions: '',
      id: 'startDate',
      name: 'startDate',
      value: startDate|date("Y-m-d")
  } %}
  </div>
  <div class="input ltr" style="display:inline-block;padding-right:10px;">
  {% include "commerceinsights/_components/date_field" with {
      label: 'End',
      instructions: '',
      id: 'endDate',
      name: 'endDate',
      value: endDate|date("Y-m-d")
  } %}
  </div>
  <input type="submit" class="btn submit" value="View best selling products">
</form>

<hr/>




<h2>Find who ordered a specific product and when</h2>
    <table class="data fullwidth">
    <thead>
      <tr>
        <th>Product type</th>
        <th>Number of products</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for type in craft.commerce.productTypes.allProductTypes %}
    {% set typeProducts = craft.products.type(type).all() %}
      <tr>
          <td>{{ type.name }}</td>
          <th>{{ typeProducts|length }}</th>
          <td><a href="{{ url('commerceinsights/products/'~ type.handle) }}">View </a></td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
{% endset %}
